name: Build and Deploy to Cloud Run

on:
  workflow_dispatch:
    inputs:
      app_name:
        description: 'App name to be deployed'
        required: true
        default: 'scraper'
        type: choice
        options:
          - 'scraper'
          - 'discord-logger'

env:
  PROJECT_ID: "austin-rent"
  GAR_LOCATION: "us-central1"
  REGION: 'us-central1'
  REPO: 'image-repo'
  WIF_SERVICE_ACCOUNT: 'github-sa@austin-rent.iam.gserviceaccount.com'
  WIF_PROVIDER: 'projects/951404538114/locations/global/workloadIdentityPools/github-pool/providers/github-provider'

jobs:

  parse-config:
    runs-on: ubuntu-latest
    outputs:
      pipe_config: ${{ steps.parse.outputs.pipe_config }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Parse Service Config
        id: parse
        uses: ./.github/actions/parse-service-configs


  tag:
    name: Tag Release
    runs-on: ubuntu-latest
    needs: [config]
    if: ${{ needs.config.result == 'success' && fromJSON(needs.config.outputs.pipe_config).steps.tag }}
    outputs:
      new_tag: ${{ steps.tag_version.outputs.new_tag }}
      upload_url: ${{ steps.create_release.outputs.upload_url }}
    steps:
      - name: Bump version and push tag
        id: tag_version
        uses: mathieudutour/github-tag-action@v6.2
        with:
          github_token: ${{ secrets.REPO_ACCESS_TOKEN }}
          default_bump: minor
      - name: Create a GitHub release
        id: create_release
        uses: ncipollo/release-action@v1
        with:
          tag: ${{ steps.tag_version.outputs.new_tag }}
          name: Release ${{ steps.tag_version.outputs.new_tag }}
          body: ${{ steps.tag_version.outputs.changelog }}
          token: ${{ secrets.REPO_ACCESS_TOKEN }}
          generateReleaseNotes: true

  deploy:
    needs: config
    permissions:
      contents: 'read'
      id-token: 'write'

    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Google Auth
        id: auth
        uses: 'google-github-actions/auth@v2'
        with:
          token_format: 'access_token'
          workload_identity_provider: '${{ env.WIF_PROVIDER }}'
          service_account: '${{ env.WIF_SERVICE_ACCOUNT }}'

      # Authenticate Docker to Google Cloud Artifact Registry
      - name: Login to GAR
        uses: docker/login-action@v3
        with:
          registry: '${{ env.GAR_LOCATION }}-docker.pkg.dev'
          username: 'oauth2accesstoken'
          password: ${{ steps.auth.outputs.access_token }}

      - name: Build and Push
        run: |-
          cd ${{ github.event.inputs.app_name }}/
          docker build --target BUILD -t "${{ env.GAR_LOCATION }}-docker.pkg.dev/${{ env.PROJECT_ID }}/${{ env.REPO }}/${{ github.event.inputs.app_name }}:latest" ./
          docker push "${{ env.GAR_LOCATION }}-docker.pkg.dev/${{ env.PROJECT_ID }}/${{ env.REPO }}/${{ github.event.inputs.app_name }}:latest"
      # END - Docker auth and build

      - name: Deploy Backend to Cloud Run
        id: deploy
        uses: google-github-actions/deploy-cloudrun@v2
        with:
          service: ${{ github.event.inputs.app_name }}
          region: ${{ env.REGION }}
          image: ${{ env.GAR_LOCATION }}-docker.pkg.dev/${{ env.PROJECT_ID }}/${{ env.REPO }}/${{ github.event.inputs.app_name }}:latest
          flags: ${{ steps.config.outputs.uses_db == 'true' && '--add-cloudsql-instances=austin-rent:us-central1:austin-rent-db' || '' }}
          env_vars: ${{ steps.config.outputs.ENV_VARS }}

      - name: Show Backend URL
        run: echo ${{ steps.deploy.outputs.url }}
